<div>
    <h2>
        <span>Charge Code Projects</span>
        <button class="btn btn-primary float-right jh-create-entity create-charge-code-project" [routerLink]="['/', { outlets: { popup: ['charge-code-project-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Charge Code Project
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="chargeCodeProjects">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Chargecode</span></th>
            <th><span>Project</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chargeCodeProject of chargeCodeProjects ;trackBy: trackId">
                <td><a [routerLink]="['../charge-code-project', chargeCodeProject.id ]">{{chargeCodeProject.id}}</a></td>
                <td>
                    <div *ngIf="chargeCodeProject.chargecode">
                        <a [routerLink]="['../charge-code', chargeCodeProject.chargecode?.id ]" >{{chargeCodeProject.chargecode?.chargeCodeName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="chargeCodeProject.project">
                        <a [routerLink]="['../project', chargeCodeProject.project?.id ]" >{{chargeCodeProject.project?.projectTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../charge-code-project', chargeCodeProject.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'charge-code-project/'+ chargeCodeProject.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'charge-code-project/'+ chargeCodeProject.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
