
<div *ngIf="chargeCode">
    <h2><span>Charge Code</span> {{chargeCode.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Charge Code Name</span></dt>
        <dd>
            <span>{{chargeCode.chargeCodeName}}</span>
        </dd>
        <dt><span>Charge Code Location</span></dt>
        <dd>
            <span>{{chargeCode.chargeCodeLocation}}</span>
        </dd>
        <dt><span>Charge Code Start Date</span></dt>
        <dd>
            <span>{{chargeCode.chargeCodeStartDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Charge Code End Date</span></dt>
        <dd>
            <span>{{chargeCode.chargeCodeEndDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'charge-code/'+ chargeCode.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
